
</div>
<div class="col-3">  
  <div class="card">    
    <%= image_tag user.images[0], class: 'card-img-top' %>    
    <div class="card-body">        
      <p class="card-text">        
        <strong>Nombre:</strong><%= user.name %>
        <strong>Celular:</strong><%= user.phone%><br>        
        <strong>Email:</strong><%= user.email %><br>        
              
      </p>    
    </div>  
  </div> 
</div>
