<h1>Editing oferta laboral</h1>

<%= render "form", oferta_laboral: @oferta_laboral %>

<br>

<div>
  <%= link_to "Show this oferta laboral", @oferta_laboral %> |
  <%= link_to "Back to oferta laborals", oferta_laborals_path %>
</div>
