require 'test_helper'

<p style="color: green"><%= notice %></p>

<h1>Oferta Laboral</h1>

<div id="oferta_laborals">
  <% @oferta_laborals.each do |oferta_laboral| %>
    <%= render oferta_laboral %>
    <p>
    <%= link_to "Show #{oferta_laboral.name}", oferta_laboral %>
    </p>
  <% end %>
</div>

<%= link_to "New oferta laboral", new_oferta_laboral_path %>
